body {
    background-color: navy;
    margin: 0;
    font-family: 'Arial', serif;
}

h1 {
    margin-top:0;
}

#content {
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    min-height: 600px;
    padding: 32px;
}

tr {
    text-align: center;
}

td {
    text-align: left;
}

th {
    text-align: left;
}

td.last {
    text-align: right;
}

th.last {
    text-align: right;
}


#pageHeader {
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    background-color: lightblue;
    padding: 10px;
}

.editButton, .deleteButton, #saveButton, #cancelButton {
    color: black;
    font-size: 14px;
    border: none;
    padding: 8px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.editButton {
    background-color: silver;
}

.editButton:hover {
    background-color: grey;
}

#newButton {
    background-color: cornflowerblue;
}

#newButton:hover {
    background-color: dodgerblue;
}

.deleteButton, #cancelButton {
    background-color: indianred;
    margin-left: 10px;
}

.deleteButton:hover, #cancelButton:hover {
    background-color: firebrick;
}

#saveButton {
    background-color: lightgreen;
}

#saveButton:hover {
    background-color: forestgreen;
}

form div {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.label {
    width: 100px;
    margin-bottom: 0;
    display: inline-block;
}

.floatRight {
    float: right;
}

#editDiv {
    display: none;
}

table {
    width: 100%;
}

.fruitColour {
    border-radius: 8px;
    padding-left: 64px;
}
